<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>零食管理系统</title>
    <link rel="stylesheet" href="./css/userlogin.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.zhimg.com/axios/dist/axios.min.js"></script>
</head>
<body style="background-image: url('./iamge/bgc1.jpg'); background-size: cover; background-position: center;">
    <div id="app" class = "login-container">
        <h1 style="text-align: center;">零食管理系统</h1>
        <el-form :model="loginForm" label-width="60px">
            <div class="block" style="text-align: center;margin-bottom: 30px;"><el-avatar :size="60" :src="circleUrl"></el-avatar></div>
            <el-form-item label="用户名" prop="username" style="font-weight: bold;">
                <el-input style="margin-bottom: 20px;" placeholder="请输入用户名" v-model="loginForm.username"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password"style="font-weight: bold;">
                <el-input placeholder="请输入密码" v-model="loginForm.password" show-password></el-input>
            </el-form-item>
            <el-form-item >
                <el-button style="margin-left: 130px; margin-top:10px;" type="primary" @click="login">登录</el-button>
            </el-form-item>
        </el-form>
    </div>
    <script src="./js/userlogin.js"></script>
</body>

</html>